/* Resetting defaults */

body {
  margin: 0;
  padding: 0;
}

/* Navbar */

.navbar {
  display: flex;
  gap: var(--gap, 2rem);
  padding: 1.5em;
}

.navbar--darkmode {
  display: flex;
  gap: var(--gap, 1rem);
  padding: 1.5em;
  background-color: #152028;
}

.navbar--darkmode > .logo {
  color: white;
}

.nav-link {
  color: black;
  text-decoration: inherit;
  font-family: 'Fira Mono', monospace;
  margin-right: 1em;
}

.nav-link--darkmode {
  color: white;
  text-decoration: inherit;
  font-family: 'Fira Mono', monospace;
  margin-right: 1em;
}

.primary-navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-navigation > li {
  display: inline;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
}

.logo{
  display: inline;
  margin: 0;
  padding: 0;
  font-family: 'Fira Mono', monospace;
  font-weight: 500;
  font-size: larger;
}